@import 'ivan';

@mixin box-shadow ($blur: 6px) {
	-webkit-box-shadow: 0px 0px $blur rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px $blur rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px $blur rgba(50, 50, 50, 0.75);
}
@mixin border-box () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin vert-gradient () {
	background-image: linear-gradient(bottom, $gradient-bottom 33%, $gradient-top 100%);
	background-image: -o-linear-gradient(bottom, $gradient-bottom 33%, $gradient-top 100%);
	background-image: -moz-linear-gradient(bottom, $gradient-bottom 33%, $gradient-top 100%);
	background-image: -webkit-linear-gradient(bottom, $gradient-bottom 33%, $gradient-top 100%);
	background-image: -ms-linear-gradient(bottom, $gradient-bottom 33%, $gradient-top 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.33, $gradient-bottom),
		color-stop(1, $gradient-top)
	);
}

* {
	@include border-box;
}

body {
	padding-top: 50px;
	position: relative;

	&.minimal {
		padding-top: 0;
	}
}

a {
	&.admin, &.mod { font-weight:bold; }
	&.admin { color:#00b4ff; }
}

header {
	position: absolute; top: 0; left: 0; width: 100%;
	background:#222 url('/images/custom/grunge.jpg'); padding:10px 0 0 0; height:$header-height;

	h1 { float:left; margin:0; padding:13px 0; }
	.logo { float:left; position:relative; margin-right:20px; z-index:10; }
	
	&.mwscc {
		background:url('/images/custom/header_bg.png') 0 0 repeat-x;
	}
}

.navbar {
	.avatar {
		max-width: 40px;
		max-height: 40px;
		margin: -11px 10px -11px 0;
	}
}
.navbar-nav {
	.glyphicon {
		margin-right: 6px;
	}
}
ul.nav-tabs {
	margin: 10px 0;
}

ol.breadcrumb {
	>li+li:before {
		content: "\203a\00a0";
	}
}
#babynav {
	#social-media {
		float: right; margin-right:20px; line-height: 0;
		a { float:left; margin:0 3px; }
		img { margin:0; }
	}
}

#main_beta {
	position: relative;

	h1 {
		font-size: 12pt;
		font-weight: bold;
		img { vertical-align:middle; }
	}
	h2 {
		font-size: 11pt;
		font-weight: bold;
		img { vertical-align:middle; }
	}
}

.birthday {
	border:2px solid #000; color:#000; background:#89ffb0; padding:16px 8px;
	text-align:center;
	a { color:#000; font-weight:bold; }
}

.panel-body {
	word-wrap: break-word;
}
.panel-sm {
	margin-bottom: 8px;
}

p {
	&.empty {
		padding: 30px 0;
		text-align: center;
	}
	&.photo-description {
		background: $description-bg;
		border: 1px solid #333;
		padding: 8px;
		margin: 0 0 10px 0;
	}
}
.jumbotron blockquote p {
	font-size: 17.5px;
}

#avatars {
	height:160px; overflow:auto;
	.avat {
		float:left; height:150px; margin:0 5px;
		div {
			margin:auto; text-align:center; padding:2px; font-size:0;
			&.sel { padding:0; border:2px solid #00f; }
			#avtext { width:116px; height:116px; border:1px solid #999; cursor:default; font-size:10pt; }
		}
	}
}

.pull-right ul.pagination {
	margin: 0;
}

textarea.form-control.textarea-sm {
	height: 5em;
}

.panel-footer {
	.form-group {
		margin-bottom: 0;
	}
}

footer {
	margin: 20px 0;
	text-align: center;
	font-size: 8pt;
	color: #ccc;
	ul.footer {
		margin: 0; padding: 0;
		display: inline;

		li {
			margin: 0 6px; padding: 0;
			list-style-type: none;
			display: inline;
		}
	}
}

.album {	
	padding: 0 15px 0 242px;
	border: 0;
	height: 182px;
	position: relative;
	
	.photo {
		position: absolute;
		margin: 0;
		left: 15px;
		top: 0;
		z-index: 10;
	}
}
.photo, .photo-large {
	float: left;
	margin: 10px;
	border: 0;
	text-align: center;
	
	a.thumb {
		display: block;
		background: $photo-bg;
		border: 1px solid $photo-border;
		line-height: 0;
		text-decoration: none;
		padding: 5px;

		&:hover {
			background: $photo-hover;
			border: 1px solid $photo-border-hover;
		}
	}
	&.large {
		float:none;
	}
}
.photo {
	width: 212px;
	height: 162px;
}

table.table {
	td {
		&.icon {
			padding: 6px 0 0;
			text-align: center;
			vertical-align: middle;

			&.wide {
				padding: 4px 0;
			}
		}
		&.forum {
			padding: 6px;
			vertical-align: middle;

			a {
				font-weight:bold;
			}
		}
		&.topic {
			padding: 6px;

			.thread-preview {
				width: 100%;
				height: 1.5em;
				line-height: 1.8em;
				overflow: hidden;
			}
		}
		&.lastpost {
			padding: 6px;
			vertical-align: middle;

			a { font-weight:bold; }
			div a { font-weight:normal; }
			&.topic { text-align:right; font-size:10pt; }
			&.message { font-size:10pt; color:#999; }
		}
		&.score { padding:4px 0; }
		&.ending { font-size:10pt; }
		&.date { font-size:10pt; text-align:center; }
		&.posts { font-size:10pt; text-align:center; color:$lighter-text; }
		&.nowrap { white-space: nowrap; }
	}
	th {
		&.date, &.posts {
			text-align: center;
		}
	}
	tr.unread {
		td {
			&.topic, &.from {
				a { font-weight:bold; }
			}
		}
	}
	tr.selected {
		td { background:$darker-bg !important; }
	}
	.tiny { font-size:9pt; color:#000 !important; font-weight:normal !important; }

	th.icon,td.icon { width:50px;
		&.wide { width:55px; }
	}
	.posts { width:80px; }
}
.table.no-border {
	background: none;

	> tbody > tr {
		th, td {
			border-top: none;
		}
	}
}

.smileys {
	border: 1px solid #666;
	padding: 6px;
	margin: 22px 0 0 auto;
	text-align: center;
	float: right;
	font-size: 10pt;
}
.emote {
	padding: 4px 6px 2px 6px;
	float: left;
	border: 1px solid transparent;
	&:hover { background:$input-hover; border: 1px solid $main-bg; }
	&:active { background: #444; border: 1px solid #222; }
}
ul.dropdown-menu {
	&.bbcode-menu {
		cursor: default;

		li {
			&:hover { background:$input-hover; }
		}
	}
	&.bbcode-size {
		min-width: 100px;

		li { padding: 2px 8px; }
	}
	&.bbcode-color {
		min-width: 152px;
		width: 152px;
		padding-left: 3px;

		li {
			display: block;
			float: left;
			padding: 3px;
			font-size: 0;

			span {
				display: block;
				border: 1px solid #aca899;
				height: 12px;
				width: 12px;
			}
		}
	}
}
.btn.btn-bbcode {
	min-width: 32px;
	height: 30px;
	overflow: hidden;

	.bbcode-quote {
		font-size: 36px;
		line-height: 1;
		display: block;
	}
	.bbcode-underline {
		text-decoration: underline;
		font-size: 15px;
		line-height: 12px;
	}
	.bbcode-strikethrough {
		text-decoration: line-through;
		font-size: 15px;
		line-height: 12px;
	}
	.bbcode-ol {
		font-size: 9px;
		line-height: 10px;
		display: block;
	}
}

table.calendar {
	padding:0; border-collapse:collapse;
	th { text-align:center; width:14%; color:#ccc; }
	td.day {
		width:14%; height:85px; border:1px solid #999; background:$body-bg;
		vertical-align:top; padding:4px; font-size:8pt;
		&.has-events { border:2px solid #000; background:#7f7f7f; }
		&.today { border:2px solid #000;
			&.has-events { background:#999; }
		}
	}
}

#shoutbox {
	a {
		&.at_reply { color:#ccc; text-decoration:none; }
	}
	th.date {
		background: #3e444c;
		color: #eee;
		text-align: right;
	}
}
#embed #shoutbox {
	tbody {
		display: block;
		font-size: 10pt;
		height: 200px;
		overflow: auto;
	}
}

.attachment-box {
	margin:15px 0 0; padding:8px 0; 
	border-top:1px solid #999; border-bottom:1px solid #999
}

a.scaled {
	text-decoration:none; display:block; padding:4px 6px; border:1px solid #000; 
	background:$scaled-bg; color:#000; font-size:10pt
}

.quote {
	margin:5px 0 5px 20px; border:1px solid #333; background:$quote-bg; padding:0;
	.author {
		margin:0; padding:5px; border-bottom:1px solid #333; background:$quote-header;
		img { margin-left: 10px; vertical-align: middle; }
	}
	.content { margin:0; padding:5px 15px 5px 5px; }
}

.spoiler-alert {
	color:#900; background:#777; border:2px dashed #900; font-weight:bold;
	text-decoration:none; padding:2px 5px;
	&:hover { color:#060; border:2px dashed #060; }
}
.spoiler {
	display:none; border:2px dashed #900; background:#777; padding:5px
}

pre.code {
	font-size:10pt; font-family:"Courier New",mono;
	margin:5px 0 5px 20px; border:1px solid #ccc; background:#555; padding:5px;
	color:#ccc; word-wrap:normal; overflow-x:auto;
}

.gold-icon {
	color: #ffe400;
}

.sig {
	border-top: 1px dotted $sig-color;
	color: $sig-color;
	font-size: 10pt;
	object { display:none; }
}

.thumbnail-selector {
	float:left; width:500px; height:190px; border:1px solid #000; white-space:nowrap;
	overflow:auto; overflow-y:hidden; -ms-overflow-y:hidden; line-height:0; padding:10px 5px;
	.thumbnail {
		margin:0 3px; height:150px; display:inline-block;
		div {
			margin:auto; text-align:center; padding:2px; font-size:0;
			&.sel { padding:0; border:2px solid #00f; }
		}
	}
}

@media all and ( max-width: 767px ) {
	table.table {
		th.icon, td.icon {
			width:30px;
			&.wide { width:35px; }
		}
	}
	.album {
		width: 100%;
		min-height: 97px;
		height: auto;
		padding-left: 142px;
		margin-bottom: 15px;

		.photo {
			width: 112px;
			height: 87px;
			img {
				max-width: 100px;
				max-height: 75px;
			}
		}
	}

	footer {
		#social-media {
			float:none; margin:0 0 10px;
			img { margin: 0; }
			ul.footer {
				li { margin:0 3px; }
			}
		}
	}

	div.scaled { display:none; }
	img.post-image { max-width:100%; height:auto; }
}

@media print {
	a { color:#369 !important; text-decoration:none; }
	nav, #babynav, header, footer, #quick-reply, .jumpbox, .btn {
		display:none;
	}
	img { max-width:100%; height:auto; }
}
