/*888;*/
/*#666;*/
/* line 50, ../sass/_ivan.scss */
#jenny {
  width: 32px;
  height: 32px;
  background: url("/images/custom/genetrix.png");
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 151px;
}
/* line 54, ../sass/_ivan.scss */
body.mobile #jenny {
  position: relative;
  left: 80%;
  top: -31px;
  float: left;
}

/* line 57, ../sass/_ivan.scss */
div.icon {
  background: url("/images/skins/ivan/sprite.png") 0 0 no-repeat;
  width: 19px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
/* line 60, ../sass/_ivan.scss */
div.icon a {
  display: block;
}
/* line 62, ../sass/_ivan.scss */
div.icon.forum {
  width: 25px;
  height: 25px;
  margin: 0 11px;
}
/* line 63, ../sass/_ivan.scss */
div.icon.forum_unread {
  width: 25px;
  height: 25px;
  background-position: -29px 0;
}
/* line 64, ../sass/_ivan.scss */
div.icon.topic {
  background-position: 0 -25px;
}
/* line 65, ../sass/_ivan.scss */
div.icon.topic_unread {
  background-position: -25px -25px;
}
/* line 66, ../sass/_ivan.scss */
div.icon.topic_hot {
  background-position: 0 -43px;
}
/* line 67, ../sass/_ivan.scss */
div.icon.topic_hot_unread {
  background-position: -25px -43px;
}
/* line 68, ../sass/_ivan.scss */
div.icon.topic_locked {
  background-position: 0 -61px;
}
/* line 69, ../sass/_ivan.scss */
div.icon.topic_locked_unread {
  background-position: -25px -61px;
}
/* line 70, ../sass/_ivan.scss */
div.icon.topic_sticky {
  background-position: 0 -79px;
}
/* line 71, ../sass/_ivan.scss */
div.icon.topic_sticky_unread {
  background-position: -25px -79px;
}
/* line 72, ../sass/_ivan.scss */
div.icon.topic_announce {
  background-position: 0 -97px;
}
/* line 73, ../sass/_ivan.scss */
div.icon.topic_announce_unread {
  background-position: -25px -97px;
}
/* line 74, ../sass/_ivan.scss */
div.icon.offline {
  width: 15px;
  height: 15px;
  background-position: 0 -115px;
}
/* line 75, ../sass/_ivan.scss */
div.icon.online {
  width: 15px;
  height: 15px;
  background-position: -25px -115px;
}
/* line 76, ../sass/_ivan.scss */
div.icon.group {
  width: 15px;
  height: 15px;
  background-position: 0 -130px;
}
/* line 77, ../sass/_ivan.scss */
div.icon.minipost {
  width: 12px;
  height: 9px;
  background-position: -15px -130px;
}
/* line 78, ../sass/_ivan.scss */
div.icon.minipost_unread {
  width: 12px;
  height: 9px;
  background-position: -27px -130px;
}
/* line 79, ../sass/_ivan.scss */
div.icon.latest_reply {
  width: 18px;
  height: 9px;
  background-position: -15px -139px;
}
/* line 80, ../sass/_ivan.scss */
div.icon.newest_reply {
  width: 18px;
  height: 9px;
  background-position: -33px -139px;
}

/* line 29, ../sass/global.scss */
h1 {
  font-size: 12pt;
  font-weight: bold;
}
/* line 32, ../sass/global.scss */
h1 img {
  vertical-align: middle;
}

/* line 34, ../sass/global.scss */
h2 {
  font-size: 11pt;
  font-weight: bold;
}
/* line 35, ../sass/global.scss */
h2 img {
  vertical-align: middle;
}

/* line 37, ../sass/global.scss */
small {
  font-size: 8pt;
}

/* line 38, ../sass/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../sass/global.scss */
body {
  padding-top: 50px;
  position: relative;
}
/* line 46, ../sass/global.scss */
body.minimal {
  padding-top: 0;
}

/* line 50, ../sass/global.scss */
img {
  border: 0;
}

/* line 51, ../sass/global.scss */
ul, ol {
  margin: 6px 20px;
  padding: 0;
}

/* line 52, ../sass/global.scss */
.v_top {
  vertical-align: top;
}

/* line 54, ../sass/global.scss */
a {
  text-decoration: none;
}
/* line 56, ../sass/global.scss */
a.admin, a.mod {
  font-weight: bold;
}
/* line 57, ../sass/global.scss */
a.admin {
  color: #00b4ff;
}

/* line 60, ../sass/global.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #222 url("/images/custom/grunge.jpg");
  padding: 10px 0 0 0;
  height: 130px;
}
/* line 64, ../sass/global.scss */
header h1 {
  float: left;
  margin: 0;
  padding: 13px 0;
}
/* line 65, ../sass/global.scss */
header .logo {
  float: left;
  position: relative;
  margin-right: 20px;
  z-index: 10;
}
/* line 67, ../sass/global.scss */
header.mwscc {
  background: url("/images/custom/header_bg.png") 0 0 repeat-x;
}

/* line 73, ../sass/global.scss */
.navbar .avatar {
  max-width: 40px;
  max-height: 40px;
  margin: -11px 10px -11px 0;
}

/* line 80, ../sass/global.scss */
.navbar-nav .glyphicon {
  margin-right: 6px;
}

/* line 85, ../sass/global.scss */
ol.breadcrumb {
  margin-left: 0;
  margin-right: 0;
}
/* line 89, ../sass/global.scss */
ol.breadcrumb > li + li:before {
  content: "\203a\00a0";
}

/* line 94, ../sass/global.scss */
#babynav #social-media {
  float: right;
  margin-right: 20px;
  line-height: 0;
}
/* line 96, ../sass/global.scss */
#babynav #social-media a {
  float: left;
  margin: 0 3px;
}
/* line 97, ../sass/global.scss */
#babynav #social-media img {
  margin: 0;
}

/* line 101, ../sass/global.scss */
#main_beta {
  position: relative;
}
/* line 104, ../sass/global.scss */
#main_beta .moderate {
  padding: 4px;
}
/* line 106, ../sass/global.scss */
#main_beta .moderate a {
  float: left;
  margin: 0 3px;
}

/* line 113, ../sass/global.scss */
.birthday {
  border: 2px solid #000;
  color: #000;
  background: #89ffb0;
  padding: 16px 8px;
  text-align: center;
}
/* line 116, ../sass/global.scss */
.birthday a {
  color: #000;
  font-weight: bold;
}

/* line 119, ../sass/global.scss */
.panel-body {
  word-wrap: break-word;
}

/* line 124, ../sass/global.scss */
p.empty {
  padding: 30px 0;
  text-align: center;
}
/* line 128, ../sass/global.scss */
p.photo-description {
  background: #777;
  border: 1px solid #333;
  padding: 8px;
  margin: 0 0 10px 0;
}

/* line 136, ../sass/global.scss */
#avatars {
  height: 160px;
  overflow: auto;
}
/* line 138, ../sass/global.scss */
#avatars .avat {
  float: left;
  height: 150px;
  margin: 0 5px;
}
/* line 140, ../sass/global.scss */
#avatars .avat div {
  margin: auto;
  text-align: center;
  padding: 2px;
  font-size: 0;
}
/* line 142, ../sass/global.scss */
#avatars .avat div.sel {
  padding: 0;
  border: 2px solid #00f;
}
/* line 143, ../sass/global.scss */
#avatars .avat div #avtext {
  width: 116px;
  height: 116px;
  border: 1px solid #999;
  cursor: default;
  font-size: 10pt;
}

/* line 148, ../sass/global.scss */
.pull-right ul.pagination {
  margin: 0;
}

/* line 152, ../sass/global.scss */
.progress {
  margin: 10px 0;
}

/* line 157, ../sass/global.scss */
.panel-footer .form-group {
  margin-bottom: 0;
}

/* line 162, ../sass/global.scss */
footer {
  margin-bottom: 20px;
  text-align: center;
  font-size: 8pt;
  color: #ccc;
}
/* line 167, ../sass/global.scss */
footer a {
  margin-left: 13px;
}

/* line 172, ../sass/global.scss */
.album {
  padding: 5px 15px 5px 5px;
  border: 0;
  height: 162px;
  position: relative;
}
/* line 176, ../sass/global.scss */
.album .photo {
  position: absolute;
  z-index: 10;
}
/* line 177, ../sass/global.scss */
.album .description {
  position: absolute;
  z-index: 1;
  padding: 10px 5px 10px 230px;
}

/* line 180, ../sass/global.scss */
.photo, .photo-large {
  float: left;
  padding: 5px;
  border: 0;
  text-align: center;
}
/* line 183, ../sass/global.scss */
.photo a.thumb, .photo-large a.thumb {
  display: block;
  background: #888;
  border: 1px solid #333;
  line-height: 0;
  text-decoration: none;
  padding: 5px;
}
/* line 186, ../sass/global.scss */
.photo a.thumb:hover, .photo-large a.thumb:hover {
  background: #999;
  border: 1px solid #444;
}
/* line 188, ../sass/global.scss */
.photo.large, .photo-large.large {
  float: none;
}

/* line 190, ../sass/global.scss */
.photo {
  width: 222px;
  height: 172px;
}

/* line 196, ../sass/global.scss */
table.table td.icon {
  padding: 6px 0 0;
  text-align: center;
  vertical-align: middle;
}
/* line 201, ../sass/global.scss */
table.table td.icon.wide {
  padding: 4px 0;
}
/* line 205, ../sass/global.scss */
table.table td.forum {
  padding: 6px;
  vertical-align: middle;
}
/* line 209, ../sass/global.scss */
table.table td.forum a {
  font-weight: bold;
}
/* line 213, ../sass/global.scss */
table.table td.topic {
  padding: 6px;
}
/* line 216, ../sass/global.scss */
table.table td.topic .thread_preview {
  width: 100%;
  height: 1.2em;
  overflow: hidden;
}
/* line 222, ../sass/global.scss */
table.table td.lastpost {
  padding: 6px;
  vertical-align: middle;
}
/* line 226, ../sass/global.scss */
table.table td.lastpost a {
  font-weight: bold;
}
/* line 227, ../sass/global.scss */
table.table td.lastpost div a {
  font-weight: normal;
}
/* line 228, ../sass/global.scss */
table.table td.lastpost.topic {
  text-align: right;
  font-size: 10pt;
}
/* line 229, ../sass/global.scss */
table.table td.lastpost.message {
  font-size: 10pt;
  color: #999;
}
/* line 231, ../sass/global.scss */
table.table td.score {
  padding: 4px 0;
}
/* line 232, ../sass/global.scss */
table.table td.ending {
  font-size: 10pt;
}
/* line 233, ../sass/global.scss */
table.table td.date {
  font-size: 10pt;
  text-align: center;
}
/* line 234, ../sass/global.scss */
table.table td.posts {
  font-size: 10pt;
  text-align: center;
  color: #aaa;
}
/* line 237, ../sass/global.scss */
table.table th.date, table.table th.posts {
  text-align: center;
}
/* line 244, ../sass/global.scss */
table.table tr.unread td.topic a, table.table tr.unread td.from a {
  font-weight: bold;
}
/* line 249, ../sass/global.scss */
table.table tr.selected td {
  background: #555 !important;
}
/* line 251, ../sass/global.scss */
table.table .tiny {
  font-size: 9pt;
  color: #000 !important;
  font-weight: normal !important;
}
/* line 253, ../sass/global.scss */
table.table th.icon, table.table td.icon {
  width: 50px;
}
/* line 254, ../sass/global.scss */
table.table th.icon.wide, table.table td.icon.wide {
  width: 55px;
}
/* line 256, ../sass/global.scss */
table.table .posts {
  width: 80px;
}

/* line 258, ../sass/global.scss */
.smileys {
  border: 1px solid #666;
  padding: 6px;
  margin: 22px 0 0 auto;
  text-align: center;
  float: right;
  font-size: 10pt;
}

/* line 266, ../sass/global.scss */
.emote {
  padding: 4px 6px 2px 6px;
  float: left;
  border: 1px solid transparent;
}
/* line 270, ../sass/global.scss */
.emote:hover {
  background: #5f5f5f;
  border: 1px solid #333;
}
/* line 271, ../sass/global.scss */
.emote:active {
  background: #444;
  border: 1px solid #222;
}

/* line 274, ../sass/global.scss */
ul.dropdown-menu.bbcode-menu {
  cursor: default;
}
/* line 278, ../sass/global.scss */
ul.dropdown-menu.bbcode-menu li:hover {
  background: #5f5f5f;
}
/* line 281, ../sass/global.scss */
ul.dropdown-menu.bbcode-size {
  min-width: 100px;
}
/* line 284, ../sass/global.scss */
ul.dropdown-menu.bbcode-size li {
  padding: 2px 8px;
}
/* line 286, ../sass/global.scss */
ul.dropdown-menu.bbcode-color {
  min-width: 152px;
  width: 152px;
  padding-left: 3px;
}
/* line 291, ../sass/global.scss */
ul.dropdown-menu.bbcode-color li {
  display: block;
  float: left;
  padding: 3px;
  font-size: 0;
}
/* line 297, ../sass/global.scss */
ul.dropdown-menu.bbcode-color li span {
  display: block;
  border: 1px solid #aca899;
  height: 12px;
  width: 12px;
}

/* line 306, ../sass/global.scss */
.btn.btn-bbcode {
  min-width: 32px;
  height: 30px;
  overflow: hidden;
}
/* line 311, ../sass/global.scss */
.btn.btn-bbcode .bbcode-quote {
  font-size: 36px;
  line-height: 1;
  display: block;
}
/* line 316, ../sass/global.scss */
.btn.btn-bbcode .bbcode-underline {
  text-decoration: underline;
  font-size: 15px;
  line-height: 12px;
}
/* line 321, ../sass/global.scss */
.btn.btn-bbcode .bbcode-strikethrough {
  text-decoration: line-through;
  font-size: 15px;
  line-height: 12px;
}
/* line 326, ../sass/global.scss */
.btn.btn-bbcode .bbcode-ol {
  font-size: 9px;
  line-height: 10px;
  display: block;
}

/* line 333, ../sass/global.scss */
table.calendar {
  padding: 0;
  border-collapse: collapse;
}
/* line 335, ../sass/global.scss */
table.calendar th {
  text-align: center;
  width: 14%;
  color: #ccc;
}
/* line 336, ../sass/global.scss */
table.calendar td.day {
  width: 14%;
  height: 85px;
  border: 1px solid #999;
  background: #666;
  vertical-align: top;
  padding: 4px;
  font-size: 8pt;
}
/* line 339, ../sass/global.scss */
table.calendar td.day.has-events {
  border: 2px solid #000;
  background: #7f7f7f;
}
/* line 340, ../sass/global.scss */
table.calendar td.day.today {
  border: 2px solid #000;
}
/* line 341, ../sass/global.scss */
table.calendar td.day.today.has-events {
  background: #999;
}

/* line 348, ../sass/global.scss */
#shoutbox a.at_reply {
  color: #ccc;
  text-decoration: none;
}
/* line 350, ../sass/global.scss */
#shoutbox th.date {
  background: #444;
  color: #eee;
  text-align: right;
  padding: 3px 8px;
  font-variant: small-caps;
}

/* line 359, ../sass/global.scss */
#embed #shoutbox tbody {
  display: block;
  font-size: 10pt;
  height: 200px;
  overflow: auto;
}

/* line 367, ../sass/global.scss */
.attachment-box {
  margin: 15px 0 0;
  padding: 8px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

/* line 372, ../sass/global.scss */
.userbox {
  padding: 0;
  position: absolute;
  top: -400px;
  left: -400px;
  z-index: 10;
  background: #666;
  border: 1px solid #333;
}
/* line 376, ../sass/global.scss */
.userbox a {
  display: block;
  width: 178px;
  padding: 3px 8px 3px 20px;
  text-decoration: none;
  cursor: default;
  border: 1px solid #666;
  color: #ddd;
}
/* line 379, ../sass/global.scss */
.userbox a:hover {
  background: #888;
  border: 1px solid #333;
  color: #fff;
}
/* line 381, ../sass/global.scss */
.userbox hr {
  width: 80%;
  border: 0;
  height: 1px;
  margin: 2px 0 2px 20px;
  background: #ccc;
}

/* line 386, ../sass/global.scss */
.usermenu, .userhov, .usersel {
  padding: 3px 10px;
  height: 28px;
  font-size: 11pt;
  font-weight: bold;
  float: left;
  cursor: default;
  position: relative;
  z-index: 10;
}

/* line 390, ../sass/global.scss */
.usermenu {
  border: 1px solid #666;
}

/* line 391, ../sass/global.scss */
.userhov, .usermenu:hover {
  background: #888;
  border: 1px solid #333;
}

/* line 392, ../sass/global.scss */
.usersel, .usermenu:active {
  background: #666;
  border: 1px solid #333;
}

/* line 394, ../sass/global.scss */
a.scaled {
  text-decoration: none;
  display: block;
  padding: 4px 6px;
  border: 1px solid #000;
  background: #777;
  color: #000;
  font-size: 10pt;
}

/* line 399, ../sass/global.scss */
.quote {
  margin: 5px 0 5px 20px;
  border: 1px solid #333;
  background: #777;
  padding: 0;
}
/* line 401, ../sass/global.scss */
.quote .author {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #333;
  background: #555;
}
/* line 403, ../sass/global.scss */
.quote .author img {
  margin-left: 10px;
  vertical-align: middle;
}
/* line 405, ../sass/global.scss */
.quote .content {
  margin: 0;
  padding: 5px 15px 5px 5px;
}

/* line 408, ../sass/global.scss */
.spoiler-alert {
  color: #900;
  background: #777;
  border: 2px dashed #900;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 5px;
}
/* line 411, ../sass/global.scss */
.spoiler-alert:hover {
  color: #060;
  border: 2px dashed #060;
}

/* line 413, ../sass/global.scss */
.spoiler {
  display: none;
  border: 2px dashed #900;
  background: #777;
  padding: 5px;
}

/* line 417, ../sass/global.scss */
pre.code {
  font-size: 10pt;
  font-family: "Courier New",mono;
  margin: 5px 0 5px 20px;
  border: 1px solid #ccc;
  background: #555;
  padding: 5px;
  color: #ccc;
  word-wrap: normal;
  overflow-x: auto;
}

/* line 423, ../sass/global.scss */
.sig {
  border-top: 1px dotted #ccc;
  color: #ccc;
  font-size: 10pt;
}
/* line 427, ../sass/global.scss */
.sig object {
  display: none;
}

/* line 430, ../sass/global.scss */
.thumbnail-selector {
  float: left;
  width: 500px;
  height: 190px;
  border: 1px solid #000;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  line-height: 0;
  padding: 10px 5px;
}
/* line 433, ../sass/global.scss */
.thumbnail-selector .thumbnail {
  margin: 0 3px;
  height: 150px;
  display: inline-block;
}
/* line 435, ../sass/global.scss */
.thumbnail-selector .thumbnail div {
  margin: auto;
  text-align: center;
  padding: 2px;
  font-size: 0;
}
/* line 437, ../sass/global.scss */
.thumbnail-selector .thumbnail div.sel {
  padding: 0;
  border: 2px solid #00f;
}

/* line 443, ../sass/global.scss */
body.mobile h2 {
  font-size: 16pt;
  font-variant: small-caps;
  margin: 2px 0 4px 0;
}
/* line 445, ../sass/global.scss */
body.mobile h2 a {
  color: #fff;
  text-decoration: none;
}
/* line 449, ../sass/global.scss */
body.mobile .table th.icon, body.mobile .table td.icon {
  width: 30px;
}
/* line 450, ../sass/global.scss */
body.mobile .table th.icon.wide, body.mobile .table td.icon.wide {
  width: 35px;
}
/* line 453, ../sass/global.scss */
body.mobile .album {
  width: 100%;
  height: 97px;
}
/* line 455, ../sass/global.scss */
body.mobile .album .photo {
  width: 122px;
  height: 97px;
}
/* line 457, ../sass/global.scss */
body.mobile .album .photo img {
  max-width: 100px;
  max-height: 75px;
}
/* line 459, ../sass/global.scss */
body.mobile .album .description {
  padding-left: 130px;
}
/* line 462, ../sass/global.scss */
body.mobile footer {
  border-left: 0;
  border-right: 0;
  width: 100%;
  top: 0;
}
/* line 465, ../sass/global.scss */
body.mobile footer #social-media {
  float: none;
  margin: 0 0 10px;
}
/* line 467, ../sass/global.scss */
body.mobile footer #social-media img {
  margin: 0;
}
/* line 468, ../sass/global.scss */
body.mobile footer #social-media a {
  margin: 0 3px;
}
/* line 472, ../sass/global.scss */
body.mobile div.scaled {
  display: none;
}
/* line 473, ../sass/global.scss */
body.mobile img.post-image {
  max-width: 100%;
  height: auto;
}

@media print {
  /* line 477, ../sass/global.scss */
  a {
    color: #369 !important;
    text-decoration: none;
  }

  /* line 478, ../sass/global.scss */
  nav, #babynav, header, footer, #quick-reply, .jumpbox, .btn {
    display: none;
  }

  /* line 481, ../sass/global.scss */
  header {
    height: auto;
  }

  /* line 482, ../sass/global.scss */
  footer {
    top: 0;
  }

  /* line 484, ../sass/global.scss */
  .welcome .table-header {
    border-top: 1px solid #000;
  }
  /* line 485, ../sass/global.scss */
  .welcome .header {
    color: #000;
  }

  /* line 488, ../sass/global.scss */
  table.table2 th {
    color: #000;
  }

  /* line 490, ../sass/global.scss */
  img {
    max-width: 100%;
    height: auto;
  }
}
