/*888;*/
/*#666;*/
/* line 50, ../sass/_ivan.scss */
#jenny {
  width: 32px;
  height: 32px;
  background: url("/images/custom/genetrix.png");
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 151px;
}
/* line 54, ../sass/_ivan.scss */
body.mobile #jenny {
  position: relative;
  left: 80%;
  top: -31px;
  float: left;
}

/* line 57, ../sass/_ivan.scss */
div.icon {
  background: url("/images/skins/ivan/sprite.png") 0 0 no-repeat;
  width: 19px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
/* line 60, ../sass/_ivan.scss */
div.icon a {
  display: block;
}
/* line 62, ../sass/_ivan.scss */
div.icon.forum {
  width: 25px;
  height: 25px;
  margin: 0 11px;
}
/* line 63, ../sass/_ivan.scss */
div.icon.forum_unread {
  width: 25px;
  height: 25px;
  background-position: -29px 0;
}
/* line 64, ../sass/_ivan.scss */
div.icon.topic {
  background-position: 0 -25px;
}
/* line 65, ../sass/_ivan.scss */
div.icon.topic_unread {
  background-position: -25px -25px;
}
/* line 66, ../sass/_ivan.scss */
div.icon.topic_hot {
  background-position: 0 -43px;
}
/* line 67, ../sass/_ivan.scss */
div.icon.topic_hot_unread {
  background-position: -25px -43px;
}
/* line 68, ../sass/_ivan.scss */
div.icon.topic_locked {
  background-position: 0 -61px;
}
/* line 69, ../sass/_ivan.scss */
div.icon.topic_locked_unread {
  background-position: -25px -61px;
}
/* line 70, ../sass/_ivan.scss */
div.icon.topic_sticky {
  background-position: 0 -79px;
}
/* line 71, ../sass/_ivan.scss */
div.icon.topic_sticky_unread {
  background-position: -25px -79px;
}
/* line 72, ../sass/_ivan.scss */
div.icon.topic_announce {
  background-position: 0 -97px;
}
/* line 73, ../sass/_ivan.scss */
div.icon.topic_announce_unread {
  background-position: -25px -97px;
}
/* line 74, ../sass/_ivan.scss */
div.icon.offline {
  width: 15px;
  height: 15px;
  background-position: 0 -115px;
}
/* line 75, ../sass/_ivan.scss */
div.icon.online {
  width: 15px;
  height: 15px;
  background-position: -25px -115px;
}
/* line 76, ../sass/_ivan.scss */
div.icon.group {
  width: 15px;
  height: 15px;
  background-position: 0 -130px;
}
/* line 77, ../sass/_ivan.scss */
div.icon.minipost {
  width: 12px;
  height: 9px;
  background-position: -15px -130px;
}
/* line 78, ../sass/_ivan.scss */
div.icon.minipost_unread {
  width: 12px;
  height: 9px;
  background-position: -27px -130px;
}
/* line 79, ../sass/_ivan.scss */
div.icon.latest_reply {
  width: 18px;
  height: 9px;
  background-position: -15px -139px;
}
/* line 80, ../sass/_ivan.scss */
div.icon.newest_reply {
  width: 18px;
  height: 9px;
  background-position: -33px -139px;
}

/* line 29, ../sass/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../sass/global.scss */
body {
  padding-top: 50px;
  position: relative;
}
/* line 37, ../sass/global.scss */
body.minimal {
  padding-top: 0;
}

/* line 43, ../sass/global.scss */
a.admin, a.mod {
  font-weight: bold;
}
/* line 44, ../sass/global.scss */
a.admin {
  color: #00b4ff;
}

/* line 47, ../sass/global.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #222222 url("/images/custom/grunge.jpg");
  padding: 10px 0 0 0;
  height: 130px;
}
/* line 51, ../sass/global.scss */
header h1 {
  float: left;
  margin: 0;
  padding: 13px 0;
}
/* line 52, ../sass/global.scss */
header .logo {
  float: left;
  position: relative;
  margin-right: 20px;
  z-index: 10;
}
/* line 54, ../sass/global.scss */
header.mwscc {
  background: url("/images/custom/header_bg.png") 0 0 repeat-x;
}

/* line 59, ../sass/global.scss */
.navbar {
  min-height: 50px;
}
/* line 62, ../sass/global.scss */
.navbar .avatar {
  max-width: 40px;
  max-height: 40px;
  margin: -11px 10px -11px 0;
}

/* line 69, ../sass/global.scss */
.navbar-nav .glyphicon {
  margin-right: 6px;
}
/* line 72, ../sass/global.scss */
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 77, ../sass/global.scss */
ul.nav-tabs {
  margin: 10px 0;
}

/* line 80, ../sass/global.scss */
.navbar-brand {
  height: 50px;
  padding: 15px;
}
/* line 84, ../sass/global.scss */
.navbar-brand img {
  height: 100%;
  width: auto;
}

/* line 90, ../sass/global.scss */
ol.breadcrumb > li + li:before {
  content: "\203a\00a0";
}

/* line 95, ../sass/global.scss */
#babynav #social-media {
  float: right;
  margin-right: 20px;
  line-height: 0;
}
/* line 97, ../sass/global.scss */
#babynav #social-media a {
  float: left;
  margin: 0 3px;
}
/* line 98, ../sass/global.scss */
#babynav #social-media img {
  margin: 0;
}

/* line 102, ../sass/global.scss */
#main_beta {
  position: relative;
}
/* line 105, ../sass/global.scss */
#main_beta h1 {
  font-size: 12pt;
  font-weight: bold;
}
/* line 108, ../sass/global.scss */
#main_beta h1 img {
  vertical-align: middle;
}
/* line 110, ../sass/global.scss */
#main_beta h2 {
  font-size: 11pt;
  font-weight: bold;
}
/* line 113, ../sass/global.scss */
#main_beta h2 img {
  vertical-align: middle;
}

/* line 117, ../sass/global.scss */
.birthday {
  border: 2px solid #000;
  color: #000;
  background: #89ffb0;
  padding: 16px 8px;
  text-align: center;
}
/* line 120, ../sass/global.scss */
.birthday a {
  color: #000;
  font-weight: bold;
}

/* line 123, ../sass/global.scss */
.panel-body {
  word-wrap: break-word;
}

/* line 126, ../sass/global.scss */
.panel-sm {
  margin-bottom: 8px;
}

/* line 131, ../sass/global.scss */
p.empty {
  padding: 30px 0;
  text-align: center;
}
/* line 135, ../sass/global.scss */
p.photo-description {
  background: #777777;
  border: 1px solid #333;
  padding: 8px;
  margin: 0 0 10px 0;
}

/* line 142, ../sass/global.scss */
.jumbotron blockquote p {
  font-size: 17.5px;
}

/* line 146, ../sass/global.scss */
#avatars {
  height: 160px;
  overflow: auto;
}
/* line 148, ../sass/global.scss */
#avatars .avat {
  float: left;
  height: 150px;
  margin: 0 5px;
}
/* line 150, ../sass/global.scss */
#avatars .avat div {
  margin: auto;
  text-align: center;
  padding: 2px;
  font-size: 0;
}
/* line 152, ../sass/global.scss */
#avatars .avat div.sel {
  padding: 0;
  border: 2px solid #00f;
}
/* line 153, ../sass/global.scss */
#avatars .avat div #avtext {
  width: 116px;
  height: 116px;
  border: 1px solid #999;
  cursor: default;
  font-size: 10pt;
}

/* line 158, ../sass/global.scss */
.pull-right ul.pagination {
  margin: 0;
}

/* line 162, ../sass/global.scss */
textarea.form-control.textarea-sm {
  height: 5em;
}

/* line 166, ../sass/global.scss */
.form-control.select-multiple {
  min-height: 200px;
  padding: 0;
  border-radius: 0;
}
/* line 171, ../sass/global.scss */
.form-control.select-multiple option {
  padding: 4px;
}

/* line 177, ../sass/global.scss */
.panel-footer .form-group {
  margin-bottom: 0;
}

/* line 182, ../sass/global.scss */
.disabled > span, .disabled > a {
  cursor: default !important;
}

/* line 187, ../sass/global.scss */
footer {
  margin: 20px 0;
  text-align: center;
  font-size: 8pt;
  color: #ccc;
}
/* line 192, ../sass/global.scss */
footer ul.footer {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 196, ../sass/global.scss */
footer ul.footer li {
  margin: 0 6px;
  padding: 0;
  list-style-type: none;
  display: inline;
}

/* line 204, ../sass/global.scss */
.album {
  padding: 0 15px 0 242px;
  border: 0;
  height: 182px;
  position: relative;
}
/* line 210, ../sass/global.scss */
.album .photo {
  position: absolute;
  margin: 0;
  left: 15px;
  top: 0;
  z-index: 10;
}

/* line 218, ../sass/global.scss */
.photo, .photo-large {
  float: left;
  margin: 10px;
  border: 0;
  text-align: center;
}
/* line 224, ../sass/global.scss */
.photo a.thumb, .photo-large a.thumb {
  display: block;
  background: #888888;
  border: 1px solid #333333;
  line-height: 0;
  text-decoration: none;
  padding: 5px;
}
/* line 232, ../sass/global.scss */
.photo a.thumb:hover, .photo-large a.thumb:hover {
  background: #999999;
  border: 1px solid #444444;
}
/* line 237, ../sass/global.scss */
.photo.large, .photo-large.large {
  float: none;
}

/* line 241, ../sass/global.scss */
.photo {
  width: 212px;
  height: 162px;
}

/* line 248, ../sass/global.scss */
table.table td.icon {
  padding: 6px 0 0;
  text-align: center;
  vertical-align: middle;
}
/* line 253, ../sass/global.scss */
table.table td.icon.wide {
  padding: 4px 0;
}
/* line 257, ../sass/global.scss */
table.table td.forum {
  padding: 6px;
  vertical-align: middle;
}
/* line 261, ../sass/global.scss */
table.table td.forum a {
  font-weight: bold;
}
/* line 265, ../sass/global.scss */
table.table td.topic {
  padding: 6px;
}
/* line 268, ../sass/global.scss */
table.table td.topic .thread-preview {
  width: 100%;
  height: 1.5em;
  line-height: 1.8em;
  overflow: hidden;
}
/* line 275, ../sass/global.scss */
table.table td.lastpost {
  padding: 6px;
  vertical-align: middle;
}
/* line 279, ../sass/global.scss */
table.table td.lastpost a {
  font-weight: bold;
}
/* line 280, ../sass/global.scss */
table.table td.lastpost div a {
  font-weight: normal;
}
/* line 281, ../sass/global.scss */
table.table td.lastpost.topic {
  text-align: right;
  font-size: 10pt;
}
/* line 282, ../sass/global.scss */
table.table td.lastpost.message {
  font-size: 10pt;
  color: #999;
}
/* line 284, ../sass/global.scss */
table.table td.score {
  padding: 4px 0;
}
/* line 285, ../sass/global.scss */
table.table td.ending {
  font-size: 10pt;
}
/* line 286, ../sass/global.scss */
table.table td.date {
  font-size: 10pt;
  text-align: center;
}
/* line 287, ../sass/global.scss */
table.table td.posts {
  font-size: 10pt;
  text-align: center;
  color: #aaaaaa;
}
/* line 288, ../sass/global.scss */
table.table td.nowrap {
  white-space: nowrap;
}
/* line 291, ../sass/global.scss */
table.table th.date, table.table th.posts {
  text-align: center;
}
/* line 298, ../sass/global.scss */
table.table tr.unread td.topic a, table.table tr.unread td.from a {
  font-weight: bold;
}
/* line 303, ../sass/global.scss */
table.table tr.selected td {
  background: #555555 !important;
}
/* line 305, ../sass/global.scss */
table.table .tiny {
  font-size: 9pt;
  color: #000 !important;
  font-weight: normal !important;
}
/* line 307, ../sass/global.scss */
table.table th.icon, table.table td.icon {
  width: 50px;
}
/* line 308, ../sass/global.scss */
table.table th.icon.wide, table.table td.icon.wide {
  width: 55px;
}
/* line 310, ../sass/global.scss */
table.table .posts {
  width: 80px;
}

/* line 312, ../sass/global.scss */
.table.no-border {
  background: none;
}
/* line 316, ../sass/global.scss */
.table.no-border > tbody > tr th, .table.no-border > tbody > tr td {
  border-top: none;
}

/* line 322, ../sass/global.scss */
.smileys {
  border: 1px solid #666;
  padding: 6px;
  margin: 22px 0 0 auto;
  text-align: center;
  float: right;
  font-size: 10pt;
}

/* line 330, ../sass/global.scss */
.emote {
  padding: 4px 6px 2px 6px;
  float: left;
  border: 1px solid transparent;
}
/* line 334, ../sass/global.scss */
.emote:hover {
  background: #5f5f5f;
  border: 1px solid #333333;
}
/* line 335, ../sass/global.scss */
.emote:active {
  background: #444;
  border: 1px solid #222;
}

/* line 338, ../sass/global.scss */
ul.dropdown-menu.bbcode-menu {
  cursor: default;
}
/* line 342, ../sass/global.scss */
ul.dropdown-menu.bbcode-menu li:hover {
  background: #5f5f5f;
}
/* line 345, ../sass/global.scss */
ul.dropdown-menu.bbcode-size {
  min-width: 100px;
}
/* line 348, ../sass/global.scss */
ul.dropdown-menu.bbcode-size li {
  padding: 2px 8px;
}
/* line 350, ../sass/global.scss */
ul.dropdown-menu.bbcode-color {
  min-width: 152px;
  width: 152px;
  padding-left: 3px;
}
/* line 355, ../sass/global.scss */
ul.dropdown-menu.bbcode-color li {
  display: block;
  float: left;
  padding: 3px;
  font-size: 0;
}
/* line 361, ../sass/global.scss */
ul.dropdown-menu.bbcode-color li span {
  display: block;
  border: 1px solid #aca899;
  height: 12px;
  width: 12px;
}

/* line 370, ../sass/global.scss */
.btn.btn-bbcode {
  min-width: 32px;
  height: 30px;
  overflow: hidden;
}
/* line 375, ../sass/global.scss */
.btn.btn-bbcode .bbcode-quote {
  font-size: 36px;
  line-height: 1;
  display: block;
}
/* line 380, ../sass/global.scss */
.btn.btn-bbcode .bbcode-underline {
  text-decoration: underline;
  font-size: 15px;
  line-height: 12px;
}
/* line 385, ../sass/global.scss */
.btn.btn-bbcode .bbcode-strikethrough {
  text-decoration: line-through;
  font-size: 15px;
  line-height: 12px;
}
/* line 390, ../sass/global.scss */
.btn.btn-bbcode .bbcode-ol {
  font-size: 9px;
  line-height: 10px;
  display: block;
}

/* line 397, ../sass/global.scss */
table.calendar {
  padding: 0;
  border-collapse: collapse;
}
/* line 399, ../sass/global.scss */
table.calendar th {
  text-align: center;
  width: 14%;
  color: #ccc;
}
/* line 400, ../sass/global.scss */
table.calendar td.day {
  width: 14%;
  height: 85px;
  border: 1px solid #999;
  background: #666666;
  vertical-align: top;
  padding: 4px;
  font-size: 8pt;
}
/* line 403, ../sass/global.scss */
table.calendar td.day.has-events {
  border: 2px solid #000;
  background: #7f7f7f;
}
/* line 404, ../sass/global.scss */
table.calendar td.day.today {
  border: 2px solid #000;
}
/* line 405, ../sass/global.scss */
table.calendar td.day.today.has-events {
  background: #999;
}

/* line 412, ../sass/global.scss */
#shoutbox a.at_reply {
  color: #ccc;
  text-decoration: none;
}
/* line 414, ../sass/global.scss */
#shoutbox th.date {
  background: #3e444c;
  color: #eee;
  text-align: right;
}
/* line 419, ../sass/global.scss */
#shoutbox p {
  margin: 0;
}

/* line 424, ../sass/global.scss */
#embed #shoutbox tbody {
  display: block;
  font-size: 10pt;
  height: 200px;
  overflow: auto;
}

/* line 432, ../sass/global.scss */
.attachment-box {
  margin: 15px 0 0;
  padding: 8px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999999;
}

/* line 437, ../sass/global.scss */
a.scaled {
  text-decoration: none;
  display: block;
  padding: 4px 6px;
  border: 1px solid #000;
  background: #777777;
  color: #000;
  font-size: 10pt;
}

/* line 442, ../sass/global.scss */
.quote {
  margin: 5px 0 5px 20px;
  border: 1px solid #333;
  background: #777777;
  padding: 0;
}
/* line 444, ../sass/global.scss */
.quote .author {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #333;
  background: #555555;
}
/* line 446, ../sass/global.scss */
.quote .author img {
  margin-left: 10px;
  vertical-align: middle;
}
/* line 448, ../sass/global.scss */
.quote .content {
  margin: 0;
  padding: 5px 15px 5px 5px;
}

/* line 451, ../sass/global.scss */
.spoiler-alert {
  color: #900;
  background: #777;
  border: 2px dashed #900;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 5px;
}
/* line 454, ../sass/global.scss */
.spoiler-alert:hover {
  color: #060;
  border: 2px dashed #060;
}

/* line 456, ../sass/global.scss */
.spoiler {
  display: none;
  border: 2px dashed #900;
  background: #777;
  padding: 5px;
}

/* line 460, ../sass/global.scss */
pre.code {
  font-size: 10pt;
  font-family: "Courier New",mono;
  margin: 5px 0 5px 20px;
  border: 1px solid #ccc;
  background: #555;
  padding: 5px;
  color: #ccc;
  word-wrap: normal;
  overflow-x: auto;
}

/* line 466, ../sass/global.scss */
.gold-icon {
  color: #ffe400;
}

/* line 470, ../sass/global.scss */
.sig {
  border-top: 1px dotted #cccccc;
  color: #cccccc;
  font-size: 10pt;
}
/* line 474, ../sass/global.scss */
.sig object {
  display: none;
}

/* line 477, ../sass/global.scss */
.thumbnail-selector {
  float: left;
  width: 500px;
  height: 190px;
  border: 1px solid #000;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  line-height: 0;
  padding: 10px 5px;
}
/* line 480, ../sass/global.scss */
.thumbnail-selector .thumbnail {
  margin: 0 3px;
  height: 150px;
  display: inline-block;
}
/* line 482, ../sass/global.scss */
.thumbnail-selector .thumbnail div {
  margin: auto;
  text-align: center;
  padding: 2px;
  font-size: 0;
}
/* line 484, ../sass/global.scss */
.thumbnail-selector .thumbnail div.sel {
  padding: 0;
  border: 2px solid #00f;
}

@media all and (max-width: 767px) {
  /* line 491, ../sass/global.scss */
  table.table th.icon, table.table td.icon {
    width: 30px;
  }
  /* line 493, ../sass/global.scss */
  table.table th.icon.wide, table.table td.icon.wide {
    width: 35px;
  }

  /* line 496, ../sass/global.scss */
  .album {
    width: 100%;
    min-height: 97px;
    height: auto;
    padding-left: 142px;
    margin-bottom: 15px;
  }
  /* line 503, ../sass/global.scss */
  .album .photo {
    width: 112px;
    height: 87px;
  }
  /* line 506, ../sass/global.scss */
  .album .photo img {
    max-width: 100px;
    max-height: 75px;
  }

  /* line 514, ../sass/global.scss */
  footer #social-media {
    float: none;
    margin: 0 0 10px;
  }
  /* line 516, ../sass/global.scss */
  footer #social-media img {
    margin: 0;
  }
  /* line 518, ../sass/global.scss */
  footer #social-media ul.footer li {
    margin: 0 3px;
  }

  /* line 523, ../sass/global.scss */
  div.scaled {
    display: none;
  }

  /* line 524, ../sass/global.scss */
  img.post-image {
    max-width: 100%;
    height: auto;
  }
}
@media print {
  /* line 528, ../sass/global.scss */
  a {
    color: #369 !important;
    text-decoration: none;
  }

  /* line 529, ../sass/global.scss */
  nav, #babynav, header, footer, #quick-reply, .jumpbox, .btn {
    display: none;
  }

  /* line 532, ../sass/global.scss */
  img {
    max-width: 100%;
    height: auto;
  }
}
