/*888;*/
/*#666;*/
/* line 50, ../sass/_ivan.scss */
#jenny {
  width: 32px;
  height: 32px;
  background: url("/images/custom/genetrix.png");
  position: absolute;
  z-index: 10;
  right: 10%;
  top: 151px;
}
/* line 54, ../sass/_ivan.scss */
body.mobile #jenny {
  position: relative;
  left: 80%;
  top: -31px;
  float: left;
}

/* line 57, ../sass/_ivan.scss */
div.icon {
  background: url("/images/skins/ivan/sprite.png") 0 0 no-repeat;
  width: 19px;
  height: 18px;
  display: block;
  margin: 0 auto;
}
/* line 60, ../sass/_ivan.scss */
div.icon a {
  display: block;
}
/* line 62, ../sass/_ivan.scss */
div.icon.forum {
  width: 25px;
  height: 25px;
  margin: 0 11px;
}
/* line 63, ../sass/_ivan.scss */
div.icon.forum_unread {
  width: 25px;
  height: 25px;
  background-position: -29px 0;
}
/* line 64, ../sass/_ivan.scss */
div.icon.topic {
  background-position: 0 -25px;
}
/* line 65, ../sass/_ivan.scss */
div.icon.topic_unread {
  background-position: -25px -25px;
}
/* line 66, ../sass/_ivan.scss */
div.icon.topic_hot {
  background-position: 0 -43px;
}
/* line 67, ../sass/_ivan.scss */
div.icon.topic_hot_unread {
  background-position: -25px -43px;
}
/* line 68, ../sass/_ivan.scss */
div.icon.topic_locked {
  background-position: 0 -61px;
}
/* line 69, ../sass/_ivan.scss */
div.icon.topic_locked_unread {
  background-position: -25px -61px;
}
/* line 70, ../sass/_ivan.scss */
div.icon.topic_sticky {
  background-position: 0 -79px;
}
/* line 71, ../sass/_ivan.scss */
div.icon.topic_sticky_unread {
  background-position: -25px -79px;
}
/* line 72, ../sass/_ivan.scss */
div.icon.topic_announce {
  background-position: 0 -97px;
}
/* line 73, ../sass/_ivan.scss */
div.icon.topic_announce_unread {
  background-position: -25px -97px;
}
/* line 74, ../sass/_ivan.scss */
div.icon.offline {
  width: 15px;
  height: 15px;
  background-position: 0 -115px;
}
/* line 75, ../sass/_ivan.scss */
div.icon.online {
  width: 15px;
  height: 15px;
  background-position: -25px -115px;
}
/* line 76, ../sass/_ivan.scss */
div.icon.group {
  width: 15px;
  height: 15px;
  background-position: 0 -130px;
}
/* line 77, ../sass/_ivan.scss */
div.icon.minipost {
  width: 12px;
  height: 9px;
  background-position: -15px -130px;
}
/* line 78, ../sass/_ivan.scss */
div.icon.minipost_unread {
  width: 12px;
  height: 9px;
  background-position: -27px -130px;
}
/* line 79, ../sass/_ivan.scss */
div.icon.latest_reply {
  width: 18px;
  height: 9px;
  background-position: -15px -139px;
}
/* line 80, ../sass/_ivan.scss */
div.icon.newest_reply {
  width: 18px;
  height: 9px;
  background-position: -33px -139px;
}

/* line 29, ../sass/global.scss */
body, td, th, input, textarea, select {
  font-family: Arial,Verdana,sans-serif;
  font-size: 10pt;
}

/* line 32, ../sass/global.scss */
body, form, h1, h2 {
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/global.scss */
h1 {
  font-size: 12pt;
  font-weight: bold;
}
/* line 36, ../sass/global.scss */
h1 img {
  vertical-align: middle;
}

/* line 38, ../sass/global.scss */
h2 {
  font-size: 11pt;
  font-weight: bold;
}
/* line 39, ../sass/global.scss */
h2 img {
  vertical-align: middle;
}

/* line 41, ../sass/global.scss */
small {
  font-size: 8pt;
}

/* line 42, ../sass/global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../sass/global.scss */
hr {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  border: 0;
  color: #ccc;
  background: #999;
}

/* line 49, ../sass/global.scss */
body {
  background: #333333;
  position: relative;
}

/* line 50, ../sass/global.scss */
img {
  border: 0;
}

/* line 51, ../sass/global.scss */
ul, ol {
  margin: 6px 20px;
  padding: 0;
}

/* line 52, ../sass/global.scss */
.break {
  width: 100%;
  height: 1px;
  margin: 0 0 -1px;
  clear: both;
}

/* line 53, ../sass/global.scss */
.float_left {
  float: left;
}

/* line 54, ../sass/global.scss */
.float_right {
  float: right;
}

/* line 55, ../sass/global.scss */
.v_top {
  vertical-align: top;
}

/* line 57, ../sass/global.scss */
a {
  color: #e3cb00;
  text-decoration: none;
}
/* line 58, ../sass/global.scss */
a:hover {
  color: #ffe400;
}
/* line 59, ../sass/global.scss */
a.light {
  color: #888;
  text-decoration: none;
}
/* line 60, ../sass/global.scss */
a.admin, a.mod {
  font-weight: bold;
}
/* line 61, ../sass/global.scss */
a.admin {
  color: #00b4ff;
}
/* line 63, ../sass/global.scss */
a.button {
  margin: 7px 5px 7px 0;
  padding: 6px 15px;
  background: #444444;
  border: 1px solid #000;
  font-weight: bold;
  color: #e3cb00;
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 11pt;
}
/* line 67, ../sass/global.scss */
a.button.small {
  padding: 2px 9px;
  font-size: 10pt;
}
/* line 68, ../sass/global.scss */
a.button:hover {
  background: #5f5f5f;
}

/* line 72, ../sass/global.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #222222 url("/images/custom/grunge.jpg");
  padding: 10px 0 0 0;
  height: 130px;
}
/* line 75, ../sass/global.scss */
header .center {
  width: 90%;
  min-width: 1000px;
  margin: 0 auto;
}
/* line 77, ../sass/global.scss */
header h1 {
  float: left;
  margin: 0;
  padding: 13px 0;
}
/* line 78, ../sass/global.scss */
header .logo {
  float: left;
  position: relative;
  margin-right: 20px;
  z-index: 10;
}
/* line 80, ../sass/global.scss */
header.mwscc {
  background: url("/images/custom/header_bg.png") 0 0 repeat-x;
}
/* line 84, ../sass/global.scss */
header #welcome {
  float: right;
  display: block;
  padding: 8px 12px;
  border: 1px solid #000;
  margin-top: 10px;
  background: #333333;
  color: #fff;
}
/* line 87, ../sass/global.scss */
header #welcome a {
  color: #e3cb00;
}
/* line 87, ../sass/global.scss */
header #welcome a:hover {
  color: #ffe400;
}
/* line 88, ../sass/global.scss */
header #welcome img {
  float: left;
  margin-right: 6px;
}
/* line 89, ../sass/global.scss */
header #welcome div.text {
  float: left;
  padding: 4px 0 0;
}

/* line 93, ../sass/global.scss */
nav {
  margin: 0;
  font-size: 11pt;
  padding: 0 0 0 140px;
  position: absolute;
  bottom: 0;
}
/* line 95, ../sass/global.scss */
nav a {
  color: #bbbbbb;
  padding: 8px 20px;
  margin: 0;
  display: block;
  text-decoration: none;
  font-weight: bold;
}
/* line 96, ../sass/global.scss */
nav a:hover {
  color: #bbbbbb;
  background: #4f4f4f;
  text-decoration: none;
}
/* line 97, ../sass/global.scss */
nav a.active {
  background: #333333;
  color: #fff;
}
/* line 98, ../sass/global.scss */
nav a.unread {
  background: #cc0000 url("/images/nav_unread.png") left top repeat-x;
  color: #fff;
}
/* line 100, ../sass/global.scss */
nav ul {
  margin: 0;
  padding: 0;
  line-height: 100%;
}
/* line 101, ../sass/global.scss */
nav ul li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
/* line 103, ../sass/global.scss */
.mwscc nav {
  padding-left: 22px;
}

/* line 106, ../sass/global.scss */
#babynav {
  position: absolute;
  top: 130px;
  left: 5%;
  padding: 10px 0 0 0;
  width: 90%;
  font-size: 11pt;
}
/* line 110, ../sass/global.scss */
#babynav ul {
  display: block;
}
/* line 111, ../sass/global.scss */
#babynav ul li {
  float: left;
  margin: 0 8px;
  list-style-type: none;
}
/* line 112, ../sass/global.scss */
#babynav ul a {
  padding: 7px 14px 0;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 2px;
  height: 31px;
}
/* line 116, ../sass/global.scss */
#babynav ul a:hover {
  background: #777777;
}
/* line 117, ../sass/global.scss */
#babynav ul a.sub_active {
  padding: 8px 16px 0;
  background: #4f4f4f;
  color: white;
  margin: 0;
  border: 1px solid #000;
  border-bottom: 0;
  height: 35px;
}
/* line 124, ../sass/global.scss */
#babynav #social-media {
  float: right;
  margin-right: 20px;
  line-height: 0;
}
/* line 126, ../sass/global.scss */
#babynav #social-media a {
  float: left;
  margin: 0 3px;
}
/* line 127, ../sass/global.scss */
#babynav #social-media img {
  margin: 0;
}

/* line 131, ../sass/global.scss */
#main_beta {
  width: 90%;
  margin: 0 auto;
  min-width: 1000px;
  min-height: 580px;
  background: #4f4f4f;
  padding: 20px 10px;
  border: 1px solid #000;
  color: #cccccc;
  position: relative;
  top: 180px;
}
/* line 136, ../sass/global.scss */
#main_beta .actions {
  float: right;
  margin: 13px 0;
}
/* line 138, ../sass/global.scss */
#main_beta .moderate {
  padding: 4px;
}
/* line 140, ../sass/global.scss */
#main_beta .moderate a {
  float: left;
  margin: 0 3px;
}

/* line 144, ../sass/global.scss */
.birthday {
  border: 2px solid #000;
  color: #000;
  background: #89ffb0;
  padding: 16px 8px;
  text-align: center;
}
/* line 147, ../sass/global.scss */
.birthday a {
  color: #000;
  font-weight: bold;
}

/* line 150, ../sass/global.scss */
.welcome {
  margin-bottom: 20px;
}
/* line 152, ../sass/global.scss */
.welcome .table-header {
  background-image: linear-gradient(bottom, #333333 33%, #666666 100%);
  background-image: -o-linear-gradient(bottom, #333333 33%, #666666 100%);
  background-image: -moz-linear-gradient(bottom, #333333 33%, #666666 100%);
  background-image: -webkit-linear-gradient(bottom, #333333 33%, #666666 100%);
  background-image: -ms-linear-gradient(bottom, #333333 33%, #666666 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #333333), color-stop(1, #666666));
}
/* line 155, ../sass/global.scss */
.welcome .header {
  background: #444444;
  padding: 6px 10%;
  border-top: 2px solid #333;
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
  font-variant: small-caps;
}
/* line 158, ../sass/global.scss */
.welcome .header.soft {
  font-variant: normal;
  color: #888;
  font-size: 11pt;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: normal;
}
/* line 162, ../sass/global.scss */
.welcome .header .recipients {
  padding-top: 6px;
}
/* line 165, ../sass/global.scss */
.welcome .header a {
  color: #ddd;
}
/* line 166, ../sass/global.scss */
.welcome .header a:hover {
  color: #fff;
}
/* line 169, ../sass/global.scss */
.welcome .subheading {
  background: #666666;
  border-top: 2px solid #333;
}
/* line 171, ../sass/global.scss */
.welcome .subheading .details {
  float: right;
  width: 40%;
  padding: 10px;
  font-size: 10pt;
}
/* line 172, ../sass/global.scss */
.welcome .subheading.messages {
  padding: 6px 10px;
}
/* line 174, ../sass/global.scss */
.welcome .subheading.messages input {
  margin: 0;
  padding: 4px 6px;
}
/* line 176, ../sass/global.scss */
.welcome .subheading.messages input.primary {
  font-weight: bold;
}
/* line 178, ../sass/global.scss */
.welcome .subheading.messages .float_left {
  padding: 5px 0;
}
/* line 181, ../sass/global.scss */
.welcome .body {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 15px 10%;
  font-size: 11pt;
  background: #666666;
  color: #000;
  word-wrap: break-word;
}
/* line 185, ../sass/global.scss */
.welcome .body textarea {
  width: 100%;
  height: 66px;
}
/* line 186, ../sass/global.scss */
.welcome .body .empty {
  padding: 30px 0;
  text-align: center;
}
/* line 187, ../sass/global.scss */
.welcome .body p {
  margin: 0;
  padding: 0;
}
/* line 189, ../sass/global.scss */
.welcome .body p.photo-description {
  background: #777777;
  border: 1px solid #333;
  padding: 8px;
  margin: 0 0 10px 0;
}
/* line 194, ../sass/global.scss */
.welcome .body.post-row {
  background: #7f7f7f;
}
/* line 196, ../sass/global.scss */
.welcome .body.post-row p {
  margin: 10px 0;
  padding: 0 10px;
}
/* line 199, ../sass/global.scss */
.welcome.no-margin {
  margin: 0;
}
/* line 201, ../sass/global.scss */
.welcome.wide .header {
  padding: 6px 10px;
}
/* line 202, ../sass/global.scss */
.welcome.wide .body {
  padding: 6px 10px;
}
/* line 204, ../sass/global.scss */
.welcome.small {
  margin-bottom: 12px;
}
/* line 206, ../sass/global.scss */
.welcome.small .header {
  padding: 3px 6px;
  font-size: 11pt;
}
/* line 207, ../sass/global.scss */
.welcome.small .body {
  padding: 3px 6px;
}
/* line 208, ../sass/global.scss */
.welcome.small .body input {
  margin: 5px auto;
}
/* line 212, ../sass/global.scss */
.welcome.calendar .header {
  padding: 6px 10px;
}
/* line 213, ../sass/global.scss */
.welcome.calendar .body {
  padding: 0;
  background: #4f4f4f;
  border-bottom: 0;
}
/* line 216, ../sass/global.scss */
.welcome.static h1 {
  margin-top: 8px;
}

/* line 220, ../sass/global.scss */
.alert {
  padding: 10px;
  margin: 5px auto 10px;
  width: 500px;
  text-align: center;
  font-size: 11pt;
}
/* line 223, ../sass/global.scss */
.alert a {
  font-weight: bold;
  text-decoration: underline !important;
}
/* line 225, ../sass/global.scss */
.alert.fade {
  position: absolute;
  left: 50%;
  margin: 5px 0 10px -150px;
  top: 100px;
  z-index: 20;
  width: 300px;
  padding: 15px 10px;
}
/* line 229, ../sass/global.scss */
.alert.error {
  background: #fbb;
  border: 2px solid #c33;
  color: #700;
}
/* line 231, ../sass/global.scss */
.alert.error a {
  color: #700;
}
/* line 233, ../sass/global.scss */
.alert.message {
  background: #bfb;
  border: 2px solid #3b3;
  color: #050;
}
/* line 235, ../sass/global.scss */
.alert.message a {
  color: #070;
}
/* line 237, ../sass/global.scss */
.alert.notice {
  background: #82efff;
  border: 2px solid #23beff;
  color: #006498;
}
/* line 239, ../sass/global.scss */
.alert.notice a {
  color: #006498;
}

/* line 243, ../sass/global.scss */
.form2 {
  margin: 0 auto;
  color: white;
}
/* line 246, ../sass/global.scss */
.form2 label.left {
  float: left;
  text-align: right;
  margin: 7px 15px 7px 0;
  width: 30%;
  color: #000;
}
/* line 247, ../sass/global.scss */
.form2 span.left {
  float: left;
  margin: 7px 0;
  color: white;
}
/* line 249, ../sass/global.scss */
.form2 input:hover {
  background: #5f5f5f;
}
/* line 250, ../sass/global.scss */
.form2 input.left {
  float: left;
  width: 200px;
}
/* line 251, ../sass/global.scss */
.form2 input[type=submit], .form2 input[type=reset] {
  padding: 6px 20px;
  margin: 15px 2px;
  font-size: 11pt;
  text-transform: uppercase;
}
/* line 252, ../sass/global.scss */
.form2 input.primary {
  font-weight: bold;
}
/* line 253, ../sass/global.scss */
.form2 input[type=file] {
  background: none;
  border: 0;
  padding: 0;
}
/* line 256, ../sass/global.scss */
.form2 input, .form2 select, .form2 textarea {
  background: #555555;
  border: 1px solid #000;
  color: white;
  font-size: 11pt;
  padding: 3px;
  margin: 4px 0;
}
/* line 260, ../sass/global.scss */
.form2 small {
  font-size: 10pt;
}
/* line 262, ../sass/global.scss */
.form2.form3 label.left {
  width: 50%;
}
/* line 265, ../sass/global.scss */
.form2.wide label.left {
  width: 25%;
}
/* line 266, ../sass/global.scss */
.form2.wide input[type=text], .form2.wide textarea {
  width: 506px;
}
/* line 267, ../sass/global.scss */
.form2.wide #bbtext {
  width: 550px;
  height: 250px;
}
/* line 269, ../sass/global.scss */
.form2 .quickedit {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
/* line 271, ../sass/global.scss */
.form2 .quickedit #bbtext {
  width: 100%;
  height: 120px;
}

/* line 275, ../sass/global.scss */
#quotebot {
  border: 1px dotted #999;
  padding: 8px 16px;
  font-size: 10pt;
}

/* line 277, ../sass/global.scss */
#avatars {
  height: 160px;
  overflow: auto;
}
/* line 279, ../sass/global.scss */
#avatars .avat {
  float: left;
  height: 150px;
  margin: 0 5px;
}
/* line 281, ../sass/global.scss */
#avatars .avat div {
  margin: auto;
  text-align: center;
  padding: 2px;
  font-size: 0;
}
/* line 283, ../sass/global.scss */
#avatars .avat div.sel {
  padding: 0;
  border: 2px solid #00f;
}
/* line 284, ../sass/global.scss */
#avatars .avat div #avtext {
  width: 116px;
  height: 116px;
  border: 1px solid #999;
  cursor: default;
  font-size: 10pt;
}

/* line 289, ../sass/global.scss */
footer {
  position: relative;
  top: 180px;
  padding: 10px 10px 15px;
  text-align: center;
  font-size: 8pt;
  color: #ccc;
  margin: 0 auto;
  width: 50%;
}
/* line 292, ../sass/global.scss */
footer img {
  margin-left: 13px;
}
/* line 293, ../sass/global.scss */
footer a {
  color: #e3cb00;
  text-decoration: none;
  margin-left: 13px;
}
/* line 294, ../sass/global.scss */
footer a.static-page {
  color: #bbb;
}

/* line 298, ../sass/global.scss */
.album {
  float: left;
  margin: 0 0 10px 0;
  padding: 5px 15px 5px 5px;
  border: 0;
  width: 50%;
  height: 162px;
  position: relative;
}
/* line 302, ../sass/global.scss */
.album .photo {
  position: absolute;
  z-index: 10;
}
/* line 303, ../sass/global.scss */
.album .description {
  position: absolute;
  z-index: 1;
  padding: 10px 5px 10px 230px;
}

/* line 306, ../sass/global.scss */
.photo, .photo-large {
  float: left;
  padding: 5px;
  border: 0;
  text-align: center;
}
/* line 309, ../sass/global.scss */
.photo a.thumb, .photo-large a.thumb {
  display: block;
  background: #888888;
  border: 1px solid #333333;
  line-height: 0;
  text-decoration: none;
  padding: 5px;
}
/* line 312, ../sass/global.scss */
.photo a.thumb:hover, .photo-large a.thumb:hover {
  background: #999999;
  border: 1px solid #444444;
}
/* line 314, ../sass/global.scss */
.photo.large, .photo-large.large {
  float: none;
}

/* line 316, ../sass/global.scss */
.photo {
  width: 222px;
  height: 172px;
}

/* line 320, ../sass/global.scss */
table.table2 {
  border: 0;
  color: #000 !important;
  width: 100%;
}
/* line 323, ../sass/global.scss */
table.table2 th {
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
  color: #fff;
  padding: 7px 0;
}
/* line 325, ../sass/global.scss */
table.table2 th.soft {
  text-align: left;
  font-size: 12pt;
  padding: 8px 10px;
}
/* line 326, ../sass/global.scss */
table.table2 th a {
  color: #e3cb00;
}
/* line 326, ../sass/global.scss */
table.table2 th a:hover {
  color: #ffe400;
}
/* line 329, ../sass/global.scss */
table.table2 tr td {
  border: 0;
  font-size: 11pt;
}
/* line 331, ../sass/global.scss */
table.table2 tr td.icon {
  padding: 6px 0 0;
  text-align: center;
  vertical-align: middle;
}
/* line 332, ../sass/global.scss */
table.table2 tr td.icon.wide {
  padding: 4px 0;
}
/* line 334, ../sass/global.scss */
table.table2 tr td.forum {
  padding: 6px;
  vertical-align: middle;
}
/* line 335, ../sass/global.scss */
table.table2 tr td.forum a {
  font-weight: bold;
}
/* line 337, ../sass/global.scss */
table.table2 tr td.topic {
  padding: 6px;
}
/* line 339, ../sass/global.scss */
table.table2 tr td.topic .thread_preview {
  width: 100%;
  height: 1.2em;
  overflow: hidden;
  color: #111;
}
/* line 343, ../sass/global.scss */
table.table2 tr td.lastpost {
  padding: 6px;
  vertical-align: middle;
}
/* line 344, ../sass/global.scss */
table.table2 tr td.lastpost a {
  font-weight: bold;
}
/* line 345, ../sass/global.scss */
table.table2 tr td.lastpost div a {
  font-weight: normal;
}
/* line 346, ../sass/global.scss */
table.table2 tr td.lastpost.topic {
  text-align: right;
  font-size: 10pt;
}
/* line 347, ../sass/global.scss */
table.table2 tr td.lastpost.message {
  font-size: 10pt;
  color: #999;
}
/* line 349, ../sass/global.scss */
table.table2 tr td.score {
  padding: 4px 0;
}
/* line 350, ../sass/global.scss */
table.table2 tr td.ending {
  font-size: 10pt;
}
/* line 351, ../sass/global.scss */
table.table2 tr td.date {
  font-size: 10pt;
  text-align: center;
}
/* line 352, ../sass/global.scss */
table.table2 tr td.posts {
  font-size: 10pt;
  text-align: center;
  color: #aaaaaa;
}
/* line 357, ../sass/global.scss */
table.table2 tr.unread td.topic a, table.table2 tr.unread td.from a {
  font-weight: bold;
}
/* line 362, ../sass/global.scss */
table.table2 tr.selected td {
  background: #555555 !important;
}
/* line 364, ../sass/global.scss */
table.table2 tr:hover {
  -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.75);
}
/* line 367, ../sass/global.scss */
table.table2 tr .tiny {
  font-size: 9pt;
  color: #000 !important;
  font-weight: normal !important;
}
/* line 369, ../sass/global.scss */
table.table2 th.icon, table.table2 td.icon {
  width: 50px;
}
/* line 370, ../sass/global.scss */
table.table2 th.icon.wide, table.table2 td.icon.wide {
  width: 55px;
}
/* line 372, ../sass/global.scss */
table.table2 .posts {
  width: 80px;
}

/* line 374, ../sass/global.scss */
.smileys {
  border: 1px solid #888;
  padding: 6px;
  margin: 19px 0 0 auto;
  text-align: center;
  float: right;
  font-size: 10pt;
}

/* line 378, ../sass/global.scss */
.emote {
  padding: 4px 6px 2px 6px;
  float: left;
  border: 1px solid #666666;
  background: #666666;
}
/* line 381, ../sass/global.scss */
.emote:hover {
  background: #5f5f5f;
  border: 1px solid #333333;
}
/* line 382, ../sass/global.scss */
.emote:active {
  background: #444;
  border: 1px solid #222;
}

/* line 385, ../sass/global.scss */
.bbsep {
  margin: 0;
  padding: 0;
  width: 6px;
  height: 20px;
  float: left;
  background: url("images/bbcode/separator.gif") center no-repeat;
}

/* line 389, ../sass/global.scss */
.bbcode, .bbsel, .bbhov {
  padding: 0;
  float: left;
  width: 25px;
  height: 22px;
}

/* line 392, ../sass/global.scss */
.bbcode {
  border: 1px solid #efefef;
  background-color: #eee;
}

/* line 395, ../sass/global.scss */
.bbhov, .bbcode:hover {
  background-color: #c1d2ee;
  border: 1px solid #316ac5;
}

/* line 398, ../sass/global.scss */
.bbsel, .bbcode:active {
  background-color: #98b5e2;
  border: 1px solid #316ac5;
}

/* line 401, ../sass/global.scss */
.colorbox {
  padding: 3px;
  position: absolute;
  top: -400px;
  left: -400px;
  z-index: 10;
  background: #fff;
  border: 1px solid #0b198c;
}

/* line 405, ../sass/global.scss */
.bbcolor {
  float: left;
  margin: 0;
  padding: 2px;
  background: #fff;
  border: 1px solid #fff;
  cursor: default;
  color: #000;
}
/* line 408, ../sass/global.scss */
.bbcolor:hover {
  background: #c1d2ee;
  border: 1px solid #316ac5;
  color: #316ac5;
}

/* line 411, ../sass/global.scss */
table.calendar {
  padding: 0;
  border-collapse: collapse;
}
/* line 413, ../sass/global.scss */
table.calendar th {
  text-align: center;
  width: 14%;
  color: #ccc;
}
/* line 414, ../sass/global.scss */
table.calendar td.day {
  width: 14%;
  height: 85px;
  border: 1px solid #999;
  background: #666666;
  vertical-align: top;
  padding: 4px;
  font-size: 8pt;
}
/* line 417, ../sass/global.scss */
table.calendar td.day.has-events {
  border: 2px solid #000;
  background: #7f7f7f;
}
/* line 418, ../sass/global.scss */
table.calendar td.day.today {
  border: 2px solid #000;
}
/* line 419, ../sass/global.scss */
table.calendar td.day.today.has-events {
  background: #999;
}

/* line 424, ../sass/global.scss */
.shoutbox {
  padding: 0;
  background: none;
  font-size: 10pt;
}
/* line 426, ../sass/global.scss */
.shoutbox a {
  color: #e3cb00;
}
/* line 427, ../sass/global.scss */
.shoutbox a.at_reply {
  color: #ccc;
  text-decoration: none;
}
/* line 431, ../sass/global.scss */
.shoutbox table.shouts th.date {
  background: #444444;
  color: #eee;
  text-align: right;
  padding: 3px 8px;
  font-variant: small-caps;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
/* line 435, ../sass/global.scss */
.shoutbox table.shouts td {
  background: #666666;
  padding: 3px 8px;
}

/* line 439, ../sass/global.scss */
.attachment-box {
  margin: 15px 0 0;
  padding: 8px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999999;
}

/* line 443, ../sass/global.scss */
.form-box {
  padding: 8px 0;
  border-bottom: 1px solid #999;
}

/* line 446, ../sass/global.scss */
fieldset {
  border: 1px grooved #ccc;
  margin-bottom: 6px;
  padding: 6px 10px 10px;
}

/* line 447, ../sass/global.scss */
legend {
  background: #666666;
  padding: 0 10px;
  color: #333;
}

/* line 449, ../sass/global.scss */
.userbox {
  padding: 0;
  position: absolute;
  top: -400px;
  left: -400px;
  z-index: 10;
  background: #666666;
  border: 1px solid #333;
}
/* line 453, ../sass/global.scss */
.userbox a {
  display: block;
  width: 178px;
  padding: 3px 8px 3px 20px;
  text-decoration: none;
  cursor: default;
  border: 1px solid #666666;
  color: #dddddd;
}
/* line 456, ../sass/global.scss */
.userbox a:hover {
  background: #888888;
  border: 1px solid #333;
  color: #fff;
}
/* line 458, ../sass/global.scss */
.userbox hr {
  width: 80%;
  border: 0;
  height: 1px;
  margin: 2px 0 2px 20px;
  background: #ccc;
}

/* line 463, ../sass/global.scss */
.usermenu, .userhov, .usersel {
  padding: 3px 10px;
  height: 28px;
  font-size: 11pt;
  font-weight: bold;
  background: #666666;
  float: left;
  cursor: default;
  position: relative;
  z-index: 10;
}

/* line 467, ../sass/global.scss */
.usermenu {
  border: 1px solid #666666;
}

/* line 468, ../sass/global.scss */
.userhov, .usermenu:hover {
  background: #888888;
  border: 1px solid #333;
}

/* line 469, ../sass/global.scss */
.usersel, .usermenu:active {
  background: #666666;
  border: 1px solid #333;
}

/* line 471, ../sass/global.scss */
ul.pagination {
  height: 26px;
  margin: 7px 0;
  float: right;
}
/* line 475, ../sass/global.scss */
ul.pagination li {
  list-style-type: none;
  display: block;
  float: left;
}
/* line 480, ../sass/global.scss */
ul.pagination a {
  display: block;
  padding: 5px 10px;
  height: 26px;
  background: #666666;
  text-decoration: none;
  text-align: center;
}
/* line 483, ../sass/global.scss */
ul.pagination a:hover {
  background: #777;
}
/* line 485, ../sass/global.scss */
ul.pagination span {
  height: 26px;
  display: block;
  padding: 5px 10px;
}
/* line 488, ../sass/global.scss */
ul.pagination select {
  min-width: 55px;
  height: 26px;
  margin: 0;
  background: #666666;
  border: 1px solid #888;
  color: white;
  padding-left: 3px;
}

/* line 494, ../sass/global.scss */
.jumpbox {
  border: 2px solid #333;
  background: #666666;
  padding: 8px 10px;
  float: left;
  color: #000;
}

/* line 498, ../sass/global.scss */
a.scaled {
  text-decoration: none;
  display: block;
  padding: 4px 6px;
  border: 1px solid #000;
  background: #777777;
  color: #000;
  font-size: 10pt;
}

/* line 503, ../sass/global.scss */
.quote {
  margin: 5px 0 5px 20px;
  border: 1px solid #333;
  background: #777777;
  padding: 0;
}
/* line 505, ../sass/global.scss */
.quote .author {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #333;
  background: #555555;
}
/* line 507, ../sass/global.scss */
.quote .author img {
  margin-left: 10px;
  vertical-align: middle;
}
/* line 509, ../sass/global.scss */
.quote .content {
  margin: 0;
  padding: 5px 15px 5px 5px;
}

/* line 512, ../sass/global.scss */
.spoiler-alert {
  color: #900;
  background: #777;
  border: 2px dashed #900;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 5px;
}
/* line 515, ../sass/global.scss */
.spoiler-alert:hover {
  color: #060;
  border: 2px dashed #060;
}

/* line 517, ../sass/global.scss */
.spoiler {
  display: none;
  border: 2px dashed #900;
  background: #777;
  padding: 5px;
}

/* line 521, ../sass/global.scss */
pre.code {
  font-size: 10pt;
  font-family: "Courier New",mono;
  margin: 5px 0 5px 20px;
  border: 1px solid #ccc;
  background: #555;
  padding: 5px;
  color: #ccc;
  word-wrap: normal;
  overflow-x: auto;
}

/* line 527, ../sass/global.scss */
.sig {
  background: #666666;
  border-top: 1px dotted #cccccc;
  color: #cccccc;
  font-size: 10pt;
  padding: 10px;
  margin-top: 5px;
}
/* line 530, ../sass/global.scss */
.sig object {
  display: none;
}
/* line 531, ../sass/global.scss */
.post-row .sig {
  background: #666666;
}

/* line 534, ../sass/global.scss */
.thumbnail-selector {
  float: left;
  width: 500px;
  height: 190px;
  border: 1px solid #000;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
  line-height: 0;
  padding: 10px 5px;
}
/* line 537, ../sass/global.scss */
.thumbnail-selector .thumbnail {
  margin: 0 3px;
  height: 150px;
  display: inline-block;
}
/* line 539, ../sass/global.scss */
.thumbnail-selector .thumbnail div {
  margin: auto;
  text-align: center;
  padding: 2px;
  font-size: 0;
}
/* line 541, ../sass/global.scss */
.thumbnail-selector .thumbnail div.sel {
  padding: 0;
  border: 2px solid #00f;
}

/* line 546, ../sass/global.scss */
#menu-button {
  display: block;
  background: #5f5f5f;
  color: #e3cb00;
  padding: 4px 8px;
  margin: -10px 0 10px 0;
  float: left;
}

/* line 554, ../sass/global.scss */
#mobile-menu {
  margin-bottom: 10px;
  font-size: 12pt;
}
/* line 557, ../sass/global.scss */
#mobile-menu a {
  display: block;
  padding: 4px 0;
}
/* line 561, ../sass/global.scss */
#mobile-menu #sub-menu {
  margin-left: 20px;
}
/* line 563, ../sass/global.scss */
#mobile-menu #sub-menu a {
  display: block;
}

/* line 568, ../sass/global.scss */
#quick-links {
  float: right;
  margin-top: -10px;
}
/* line 571, ../sass/global.scss */
#quick-links a.button {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 576, ../sass/global.scss */
body.mobile {
  color: #fff;
}
/* line 579, ../sass/global.scss */
body.mobile header {
  height: auto;
}
/* line 580, ../sass/global.scss */
body.mobile h2 {
  font-size: 16pt;
  font-variant: small-caps;
  margin: 2px 0 4px 0;
}
/* line 582, ../sass/global.scss */
body.mobile h2 a {
  color: #fff;
  text-decoration: none;
}
/* line 585, ../sass/global.scss */
body.mobile #main_beta {
  top: 0;
  width: 100%;
  min-width: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 4px;
  min-height: 0;
}
/* line 588, ../sass/global.scss */
body.mobile #main_beta .welcome {
  margin: 0 -10px 10px -10px;
}
/* line 589, ../sass/global.scss */
body.mobile #main_beta .welcome.no-margin {
  margin: 0 -10px;
}
/* line 590, ../sass/global.scss */
body.mobile #main_beta .welcome .header, body.mobile #main_beta .welcome .body {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 594, ../sass/global.scss */
body.mobile .paginate a {
  width: 25px;
}
/* line 595, ../sass/global.scss */
body.mobile .paginate select {
  min-width: 45px;
}
/* line 598, ../sass/global.scss */
body.mobile .table2 th.icon, body.mobile .table2 td.icon {
  width: 30px;
}
/* line 599, ../sass/global.scss */
body.mobile .table2 th.icon.wide, body.mobile .table2 td.icon.wide {
  width: 35px;
}
/* line 602, ../sass/global.scss */
body.mobile .alert {
  width: 90%;
}
/* line 603, ../sass/global.scss */
body.mobile .alert.fade {
  margin-left: -45%;
}
/* line 606, ../sass/global.scss */
body.mobile .form2 label.left {
  width: 40%;
}
/* line 607, ../sass/global.scss */
body.mobile .form2.form3 label.left {
  width: 50%;
}
/* line 609, ../sass/global.scss */
body.mobile .album {
  width: 100%;
  height: 97px;
}
/* line 611, ../sass/global.scss */
body.mobile .album .photo {
  width: 122px;
  height: 97px;
}
/* line 613, ../sass/global.scss */
body.mobile .album .photo img {
  max-width: 100px;
  max-height: 75px;
}
/* line 615, ../sass/global.scss */
body.mobile .album .description {
  padding-left: 130px;
}
/* line 618, ../sass/global.scss */
body.mobile footer {
  border-left: 0;
  border-right: 0;
  width: 100%;
  top: 0;
}
/* line 621, ../sass/global.scss */
body.mobile footer #social-media {
  float: none;
  margin: 0 0 10px;
}
/* line 623, ../sass/global.scss */
body.mobile footer #social-media img {
  margin: 0;
}
/* line 624, ../sass/global.scss */
body.mobile footer #social-media a {
  margin: 0 3px;
}
/* line 628, ../sass/global.scss */
body.mobile div.scaled {
  display: none;
}
/* line 629, ../sass/global.scss */
body.mobile img.post-image {
  max-width: 100%;
  height: auto;
}

@media print {
  /* line 633, ../sass/global.scss */
  a {
    color: #369 !important;
    text-decoration: none;
  }

  /* line 634, ../sass/global.scss */
  nav, #babynav, header, footer, #quick-reply, .jumpbox, a.button {
    display: none;
  }

  /* line 637, ../sass/global.scss */
  header {
    height: auto;
  }

  /* line 638, ../sass/global.scss */
  #main_beta {
    border: 0;
    top: 0;
  }

  /* line 639, ../sass/global.scss */
  footer {
    top: 0;
  }

  /* line 641, ../sass/global.scss */
  .welcome .table-header {
    border-top: 1px solid #000;
  }
  /* line 642, ../sass/global.scss */
  .welcome .header {
    color: #000;
  }

  /* line 645, ../sass/global.scss */
  table.table2 th {
    color: #000;
  }

  /* line 647, ../sass/global.scss */
  img {
    max-width: 100%;
    height: auto;
  }
}
